{% extends 'base.html' %} {% block content %}
<h1>car Details</h1>
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ car.name }}</span>
    <p>model: {{ car.model }}</p>
    <p>Description: {{ car.color }}</p>
    <p>production: {{ car.production }}</p>
  </div>
  <div>
    {% load static %}
    <img
      src="{% static car.image|cut:'main_app/static/' %}"
      width="100px"
      height="100px"
    />
  </div>
  <div class="card-action">
    <a href="{% url 'cars_update' car.id %}">Edit</a>
    <a href="{% url 'cars_delete' car.id %}">Delete</a>
  </div>
</div>

<div class="col s6">
  <form method="post" action="{% url 'add_oil' car.id %}">
    {% csrf_token %}
    {{ oil_form.as_p }}
    <input type="submit" class="btn" value="change">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>type</th></tr>
    </thead>
    <tbody>
      {% for oil in car.oil_set.all %}
        <tr>
          <td>{{oil.date}}</td>
          <td>{{oil.get_type_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<hr>

  <div class="row">
    <div class="col s6">
      <h3>{{ car.name }}</h3>

      {% if car.medals.count %}
        {% for medal in car.medals.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A 
                <span style="color: {{ medal.color }}"> {{ medal.color }} </span> {{ medal.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_medal' car.id medal.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
          <h5>No Medals :(</h5>
      {% endif %}

    </div>

    <div class="col s6">
      <h3>Available medals</h3>

      {% if medals.count %}
        {% for medal in medals.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{medal.color}}"> {{medal.color}}</span> {{medal.name}}
            </span>
          </div>

          <div class="card-action">
            <form action="{% url 'assoc_medal' car.id medal.id%}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
        {% endfor%}
      {% else %}
      <h5>{{car.name }} already has all medals available</h5>
      {% endif %}

    </div>
  </div>


<script>
  var dateEl = document.getElementById('id_date')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })
  let selectEl = document.getElementById('id_type');
  M.FormSelect.init(selectEl)
</script>
{% endblock %}